body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    text-align: center;
    color: #333;
    margin: 20px 0;
    font-size: 2em;
}

#data-container {
    margin: 20px auto;
    width: 95%; /* Alterado para 95% para melhorar a aparência em telas menores */
    max-width: 1200px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#csv-file {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.row {
    margin-bottom: 15px; /* Ajuste da margem inferior */
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.label {
    font-weight: bold;
    width: 200px;
    display: inline-block;
    color: #555;
}

.value {
    margin-left: 10px;
    color: #666;
}

@media (max-width: 768px) {
    #data-container {
        width: 90%; /* Ajustado para melhorar a aparência em telas menores */
    }

    .label {
        width: 100%;
        margin-bottom: 5px;
    }

    .row {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }
}


/* Estilos para botões */
button {
  background-color: #0077cc;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
}

button:hover {
  background-color: #005a99;
}

/* Estilos para botão de upload */
#upload-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0077cc;
  color: #fff;
  transition: background-color 0.3s;
}

#upload-button:hover {
  background-color: #005a99;
}

#csv-file {
  display: block;
  margin: 20px auto; /* Centralizar o botão "Escolher Arquivo" */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0077cc;
  color: #fff;
  transition: background-color 0.3s;
}

#csv-file:hover {
  background-color: #005a99;
}

#processar-csv {
  display: block;
  margin: 20px auto; /* Centralizar o botão "Processar CSV" */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0077cc;
  color: #fff;
  transition: background-color 0.3s;
}

#processar-csv:hover {
  background-color: #005a99;
}


